
.box{
    position: relative;
    margin: auto;
    width: 300px;
    height: 200px;
}
.bg{
    position: absolute;
    top:0;
    left: 0;
    background: yellow;
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    user-select: none;
}
canvas{
    position: absolute;
    top:0;
    left: 0;
}